body {
    font-family: Arial, sans - serif;
    line - height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background - color: #333;
    color: white;
    text - align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border - radius: 5px;
}

.project {
    margin: 20px;
    border: 1px solid #ddd;
    border - radius: 5px;
    padding: 10px;
    text - align: center;
}

.project img {
    max - width: 100%;
    height: auto;
}